@import url('https://fonts.googleapis.com/css2?family=Arima:wght@500&display=swap');

.dp{
    width: 300px;
    /* height:300px; */
    /* object-fit:co; */
    border-radius: 50%;
    animation-name: appear;
    animation-duration: 3s;
}

@keyframes appear {
    0%{
        opacity: 0;
        display: none;
    }

    50%{
        opacity: 50%;
    }

    100%{
        opacity: 100%;

    }
}

.App-header h1{
    font-size: 50px;
    font-family: 'Arima', cursive;
}