.coding-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    gap:50px;
    align-items: center;

    /* justify-items: center; */

}

.coding-container img{
    width: 100px;
    border-radius: 50%;
}
.coding-container a{
    text-decoration: none;
}

.coding-content div{
    background-color: #1a1d21;;
    padding: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    transform: translate(var(--_x,0),var(--_y,0)) scale(var(--_t,1));
    cursor: pointer;
    /* filter:grayscale(80%); */
    transition: .2s linear;
}
.coding-content div:hover{
    /* filter: grayscale(0 */
    z-index:1;
    --_t:1.2; 
}

.coding-content h2{
    font-family: 'Arima', cursive;
    color: white;
    text-align: center;
}

.coding-container{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #22262b;
    padding: 20px;
    /* background-color: ; */
}

.coding-container h1{
    font-size: 50px;
    font-family: 'Arima', cursive;
    color: white;
    text-align: center;
}